{% extends 'p33t/base.html.twig' %}

{% block body %}

<p>Heloo {{ name }}. here are a few words. Just to test</p>

    <a href={{path('lucky_page')}}>GO LUCKY</a>
    <a href={{path('create')}}>Create Data</a>
{% endblock %}