{% extends 'base.html.twig' %}

{% block body %}
{% endblock %}

{% block javascripts %}
    {# This function calls to the content of a 'base.html.twig' file  javascript block (parent block content) #}
    {{ parent() }}

    <h1>Congratulations You've made it</h1>
{% endblock %}