{% if view == 'show' %}
    {% set val = value|nl2br %}
{% else %}
    {% set val = value|easyadmin_truncate %}
{% endif %}

{% if link_parameters is defined %}
    {% set primary_key_value = attribute(item, link_parameters.primary_key_name) %}
    <a href="{{ path('easyadmin', link_parameters|merge({ id: primary_key_value, referer: '' })) }}">{{ val }}</a>
{% else %}
    {{ val }}
{% endif %}